/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Container */
.pcontainer {
    width: 80%;
    margin: 0 auto;
}

.hcontainer {
    width: 100%;
    margin: 0;
}

/* Header */
header {
    padding: 12px 0;
    background-color: #9c8762;
    text-align: left;
}

header h1 {
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    align-items: left;
    justify-content: space-between; 
    height: 36px;
}

.logo img {
    height: 33px; 
    margin-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    height: 33px;
}

.nav-links li {
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 20px;
}

.nav-links a:hover {
    background-color: #6b5f4a;
    border-radius: 5px;
}

/* Profile Icon */
.profile-icon {
    margin-right: 30px;
    border-radius: 50%;
}

.profile-icon img {
    height: 36px; 
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.profile-icon img:hover {
    transform: scale(1.05); 
    border-radius: 50%;
    color: #a79982;
}

.profile-icon {
    position: relative;
    display: inline-block;
    width: 36px;
}

.profile-icon:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    top: 110%; 
    z-index: 1;
    left: -85px;
}

.dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px 8px;
    text-align: center;
    width: 130px;
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 4px 6px;
}

/* Cart Link */

.nav-right {
    display: flex;
    list-style: none;
    height: 33px;
}

.nav-cart {
    display: inline-block;
    margin-right: 30px; 
}

.nav-cart a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    padding: 8px 20px; 
    transition: background-color 0.3s ease; 
}

.nav-cart a:hover {
    background-color: #6b5f4a; 
    border-radius: 5px; 
}

/* Header Styling */
.hrcontainer {
    background-color: #f0eadf;
    padding: 3rem;
    text-align: center;
    color: #333;
}

.hrcontainer h1 {
    margin: 0;
    font-size: 2.5rem;
}

.hrcontainer p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #444;
}

.title h1 {
    margin-top: 10px;
    font-size: 1.8rem;
    text-align: center;
}

.adoptable-pets {
    background-color: #f7f7f7;
    padding: 10px 0;
}

.pet-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pet-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-card img {
    
    width: 100%;
    height: 200;
    border-radius: 5px;
}

.pet-card h3 {
    margin: 10px 0;
}

.pet-card .btn {
    background-color: #6b443d;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.pet-card .btn:hover {
    background-color: #4d2f28;
}

/* Footer Section*/
footer {
    background-color: #9c8762; 
    padding: 10px 0;
    text-align: center;
}

.footer-title {
    margin-top: 10px;
    color: #fff; 
}

.contact-info p {
    margin-top: 5px;
    color: #fff;
}

.footer-right p {
    margin-top: 5px;
    color: #fff;
}